{% extends "EnnvaWebsiteBundle:Layouts:base.html.twig" %}

{% block javascripts %}
 {{ parent() }}
<script
	src="{{ asset('../web/bundles/ennvawebsite/js/carousel_jssor.js') }}"
	type="text/javascript">
</script>
{% endblock %}

{% block stylesheets %}
 {{ parent() }}
<link
	href="{{ asset('../web/bundles/ennvawebsite/css/main.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('../web/bundles/ennvawebsite/css/carousel_jssor.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('../web/bundles/ennvawebsite/css/footer.css') }}"
	rel="stylesheet">
<link
	href="{{ asset('../web/bundles/ennvawebsite/css/skills.css') }}"
	rel="stylesheet">
{% endblock %}

{% block navbar %}
	{{ parent() }}
{% embed "EnnvaWebsiteBundle:Layouts:navbar.html.twig"   %}
	{% endembed %}
{% endblock %}

{% block carousel %}
 {{ parent() }}

<!-- ------------------------------------- Jssor Carousel test -->
<div id="slider1_container" class="container-fluid"
	style="position: relative; top: 0px; left: 0px; height: 500px; width: 1260px; margin-bottom: 0px;">
	<!-- Slides Container -->
	<div u="slides"
		style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; margin: 0 auto; width: 1260px; height: 500px;">
		<div class="first_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/tech_support.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="L" t2="T"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_ati_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>

		</div>
		<div class="second_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/graphic.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="L" t2="T"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_gc_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="B" t2="T"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="third_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/erp.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_np_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="fourth_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/website_design.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_rsi_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="fifth_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/network_server.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_sr_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="sixth_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/shopping_sales.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_vhs_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="seventh_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 100px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/web_hosting.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_wh_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<div class="eighth_slide">
			<img u="image"
				src="{{ asset('bundles/ennvawebsite/images/slider_background.jpg') }}" />
			<img u="thumb"
				src="{{ asset('bundles/ennvawebsite/images/thumbnails/thumb-crm2.jpg') }}" />
			<div u="caption" t="T" t2="NO"
			     style="position: absolute; top: 100px; left: 970px; width: 150px; height: 100px;">
			     <p class="slide-image">
					<img alt="" class="img-rounded"
						src="{{ asset('bundles/ennvawebsite/images/services/web_marketing.png') }}" 
						/>
				</p>
			</div>
			<div u="caption" t="TL" t2="TR"
				style="position: absolute; top: 100px; left: 200px; width: 750px; height: 50px;">
				<p class="slide-image" style="z-index: 50;">
					<img alt="" style="border: solid 0px; width: 200px; height: 250px;"
						src="{{ asset('bundles/ennvawebsite/images/services/img_big_wm_icon.png') }}" 
						/>
				</p>
				<p class="img-rounded slide-title">
					Title
				</p>
				<!-- You can move theses paragraph inside specific caption with specific transition -->
				<p class="img-rounded slide-footer">
				     <a class="btn btn-info " type="button" href="#"><span class="glyphicon glyphicon-check"></span>  Get More Infos</a>
				</p>
			</div>
			<div u="caption" t="R" t2="B"
				style="position: absolute; top: 360px; left: 200px; width: 750px; height: 50px;">
				<p class="img-rounded slide-description">
				     <u>Description</u><br>
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
					auctor. Duis mollis, est non commodo luctus.
					Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
				</p>
			</div>
			<div u="caption" t="MCLIP|B" t2="NO"
				style="position: absolute; top: 450px; left: 0px; width: 1260px; height: 50px;">
				<div
					style="position: absolute; top: 0px; left: 0px; width: 1260px; height: 50px; background-color: Black; opacity: 0.5; filter: alpha(opacity = 50);">
				</div>
				<div
					style="position: absolute; top: 0px; left: 0px; width: 600px; height: 50px; color: White; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center;">
					More Description of slider here: bla bla bla bla bla bla bla bla
				</div>
			</div>
			<div u="caption" t="WAVE|L" class=bricon
				style="position: absolute; top: 400px; left: 1050px; width: 30px; height: 30px; background-position: -120px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 1000px; width: 30px; height: 30px; background-position: -90px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 950px; width: 30px; height: 30px; background-position: -60px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 900px; width: 30px; height: 30px; background-position: -30px 0px;"></div>
			<div u="caption" t="WAVE|L" d="-1350" class=bricon
				style="position: absolute; top: 400px; left: 850px; width: 30px; height: 30px; background-position: 0px 0px;"></div>
		</div>
		<!-- Navigator Skin Begin -->
		<div u="navigator" class="jssorb02"
			style="position: absolute; bottom: 70px; left: 6px;">
			<!-- bullet navigator item prototype--> 
			<div u="prototype"
				style="POSITION: absolute; WIDTH: 21px; HEIGHT: 21px; text-align: center; line-height: 21px; color: White; font-size: 12px;">
				<div u="numbertemplate"></div>
			</div>
		</div>
		<!-- Navigator Skin End -->

		<!-- Arrow Navigator Skin Begin -->
		<!-- Arrow Left -->
		<span u="arrowleft" class="jssora01l"
			style="width: 45px; height: 45px; top: 123px; left: 8px;"> </span>
		<!-- Arrow Right -->
		<span u="arrowright" class="jssora01r"
			style="width: 45px; height: 45px; top: 123px; right: 8px"> </span>
		<!-- Arrow Navigator Skin End -->

		<!-- ThumbnailNavigator Skin Begin 
			<div u="thumbnavigator" class="jssort01"
				style="position: absolute; width: 600px; height: 60px; left: 0px; bottom: 0px;">
				<div u="slides" style="cursor: move;">
					<div u="prototype" class="p"
						style="position: absolute; width: 72px; height: 72px; top: 0; left: 0;">
						<div class=w>
							<div u="thumbnailtemplate"
								style="width: 100%; height: 100%; border: none; position: absolute; top: 0; left: 0;"></div>
						</div>
						<div class=c></div>
					</div>
				</div>
			</div>
			<!-- ThumbnailNavigator Skin End -->
	</div>
</div>
{% endblock %}

{% block skills %}
{{ parent() }}
	{% embed "EnnvaWebsiteBundle:Layouts:skills.html.twig"   %}
	{% endembed %}
{% endblock %}

{% block achievements %}
	{{ parent() }}
	{% embed "EnnvaWebsiteBundle:Layouts:achievements.html.twig"   %}
	{% endembed %}
{% endblock %}

{% block footer %}
	{% embed "EnnvaWebsiteBundle:Layouts:footer.html.twig"   %}
	{% endembed %}
{% endblock %}
