{% extends "EnnvaWebsiteBundle:Layouts:base.html.twig" %} 

{% block javascripts %} 
{{ parent() }}
<script
	src="{{ asset('bundles/ennvawebsite/js/carousel_jssor.js') }}"
	type="text/javascript">
</script>
<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</script>
{% endblock %} {% block stylesheets %} {{ parent() }}
<link href="{{ asset('../bundles/ennvawebsite/css/main.css') }}"
	rel="stylesheet">
<link href="{{ asset('../bundles/ennvawebsite/css/footer.css') }}"
	rel="stylesheet">
<link href="{{ asset('../bundles/ennvawebsite/css/page.css') }}"
	rel="stylesheet">
{% endblock %}

{% block navbar %} 
	{{ parent() }}
	
	{{ render(controller('EnnvaWebsiteBundle:Navbar:index')) }}

	{#% embed "EnnvaWebsiteBundle:Layouts:navbar.html.twig" %} {% endembed %#} 
{% endblock %}

{% block breakcrumb %}
<div class="breadcrumb-wrapper">
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Home</a></li>
		{% if page is defined %}
		<li class="active">{{ page.title }}</li>
		{% endif %}
		{% if subpage is defined %}
		<li class="active"><a href="{{  path('page', { 'id':subpage.pages.id } ) }}">{{ subpage.pages.title }}</a></li>
		<li>{{ subpage.title }}</li>
		{% endif %}
	</ol>
</div>
{% endblock %}

{% block pageContent %}
<div class="container">
      <div class="row row-offcanvas row-offcanvas-left">
        
        <!-- sidebar -->
        {{  render(controller('EnnvaWebsiteBundle:Sidebar:index')) }}
        
        <!--  div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="{#{ path('homepage') }#}">Home</a></li>
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>              
            </ul>
        </div> -->
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
        {% if page is defined%}
        	<h1>{{ page.title }}</h1>
        	<br />
        	<p>{{ page.description | raw }}</p>
        {% endif %}
        
        {% if(subpage) is defined %}
        	<h1>{{ subpage.title }}</h1>
        	<br />
        	<p>{{ subpage.description | raw }}</p>
        {% endif %}
        <!--  
          <h1>Shrink Width to Collapse Sidebar</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in nisi eu arcu tempus vehicula. 
            Nulla faucibus cursus metus in sagittis. Nunc elit leo, imperdiet in ligula in, euismod varius est. 
            Aenean pellentesque lorem a porttitor placerat. Vestibulum placerat nunc ac rutrum fringilla. Donec 
            arcu leo, tempus adipiscing volutpat id, congue in purus. Pellentesque scelerisque mattis nibh vel 
            semper. Sed a risus purus. Fusce pulvinar, velit eget rhoncus facilisis, enim elit vulputate nisl, a 
            euismod diam metus eu enim. Nullam congue justo vitae justo accumsan, sit amet malesuada nulla sagittis. 
            Nam neque tellus, tristique in est vel, sagittis congue turpis. Aliquam nulla lacus, laoreet dapibus 
            odio vitae, posuere volutpat magna. Nam pulvinar lacus in sapien feugiat, sit amet vestibulum enim 
            eleifend. Integer sit amet ante auctor, lacinia sem quis, consectetur nulla.</p>
    
          <p>Vestibulum porttitor massa eget pellentesque eleifend. Suspendisse tempor, nisi eu placerat auctor, 
            est erat tempus neque, pellentesque venenatis eros lorem vel quam. Nulla luctus malesuada porttitor. 
            Fusce risus mi, luctus scelerisque hendrerit feugiat, volutpat gravida nisi. Quisque facilisis risus 
            in lacus sagittis malesuada. Suspendisse non purus diam. Nunc commodo felis sit amet tortor 
            adipiscing varius. Fusce commodo nulla quis fermentum hendrerit. Donec vulputate, tellus sed 
            venenatis sodales, purus nibh ullamcorper quam, sit amet tristique justo velit molestie lorem.</p>
    
          <p>Fusce sollicitudin lacus lacinia mi tincidunt ullamcorper. Aenean velit ipsum, vestibulum nec 
            tincidunt eu, lobortis vitae erat. Nullam ultricies fringilla ultricies. Sed euismod nibh quis 
            tincidunt dapibus. Nulla quam velit, porta sit amet felis eu, auctor fringilla elit. Donec 
            convallis tincidunt nibh, quis pellentesque sapien condimentum a. Phasellus purus dui, rhoncus 
            id suscipit id, ornare et sem. Duis aliquet posuere arcu a ornare. Pellentesque consequat libero 
            id massa accumsan volutpat. Fusce a hendrerit lacus. Nam elementum ac eros eu porttitor. 
            Phasellus enim mi, auctor sit amet luctus a, commodo fermentum arcu. In volutpat scelerisque 
            quam, nec lacinia libero.</p>
    
          <p>Aliquam a lacinia orci, iaculis porttitor neque. Nullam cursus dolor tempus mauris posuere, eu 
            scelerisque sem tincidunt. Praesent blandit sapien at sem pulvinar, vel egestas orci varius. 
            Praesent vitae purus at ante aliquet luctus vel quis nibh. Mauris id nulla vitae est lacinia 
            rhoncus a vel justo. Donec iaculis quis sapien vel molestie. Aliquam sed elementum orci. 
            Vestibulum tristique tempor risus et malesuada. Sed eget ligula sed quam placerat dapibus. 
            Integer accumsan ac massa at tempus.</p>
          
        </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
{% endblock %}

{% block shortfooter %}
	{% embed "EnnvaWebsiteBundle:Layouts:shortfooter.html.twig"   %}
	{% endembed %}
{% endblock %}