{% extends "EnnvaWebsiteBundle:Layouts:base.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('../web/bundles/ennvawebsite/js/carousel_bootstrap.js') }}"
	type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('../web/bundles/ennvawebsite/css/carousel_bootstrap.css') }}"
	rel="stylesheet">
{% endblock %}

{% block carousel %}
{{ parent() }}

<!-- Carousel
    ================================================== -->
	<div class="bs-carousel" data-example-id="simple-carousel">
		<div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li class="" data-target="#carousel-example-generic"
					data-slide-to="1"></li>
				<li class="" data-target="#carousel-example-generic"
					data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="carousel-caption">
							<img alt=""
								src="{{ asset('bundles/ennvawebsite/images/business-intelligence.png') }}"
								data-position="50,50" data-out="left" />
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container">
						<div class="carousel-caption">
							<h1>Another example headline.</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
								Donec id elit non mi porta gravida at eget metus. Nullam id
								dolor id nibh ultricies vehicula ut id elit.</p>
							<p>
								<a class="btn btn-lg btn-primary" href="#" role="button">Learn
									more</a>
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="container">
						<div class="carousel-caption">
							<h1>One more for good measure.</h1>
							<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.
								Donec id elit non mi porta gravida at eget metus. Nullam id
								dolor id nibh ultricies vehicula ut id elit.</p>
							<p>
								<a class="btn btn-lg btn-primary" href="#" role="button">Browse
									gallery</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control"
				href="#carousel-example-generic" role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!-- end of bootstrap carousel -->


{% endblock %}