<!-- FOOTER -->
<footer class="footer-wrapper">
	<div class="container">
		<div class="row">
			<!--  div class="col-xs-3 col-sm-3 col-md-3"-->
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="adressfooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-map-marker"></span> 
						<address>19C Trolley Square, Wilmington DE 19806, USA</address>
					</p>
				</div>
				<div class="phonefooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-earphone"></span> <span class="">+1
							(302) 327-8314 </span>
					</p>
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="adressfooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-map-marker"></span>
						<address>19C Trolley Square, Wilmington DE 19806, USA</address>
					</p>
				</div>
				<div class="phonefooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-earphone"></span> <span class="">+1
							(302) 327-8314 </span>
					</p>
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3"">
				<div class="adressfooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-map-marker"></span>
						<address>19C Trolley Square, Wilmington DE 19806, USA</address> 
					</p>
				</div>
				<div class="phonefooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-earphone"></span> <span class="">+1
							(302) 327-8314 </span>
					</p>
				</div>
			</div>
			<!-- Menu map details -->
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="menufooter">
					<p>
						<a href="#">Home</a>
					</p>
					<p>
						<a href="#">What we do</a>
					</p>
					<p>
						<a href="#">Careers</a>
					</p>
					<p>
						<a href="#">Tech blog</a>
					</p>
					<p>
						<a href="#">Contact</a>
					</p>
					<p>
						<a href="#">Privacy</a>
					</p>
					<p>
						<a href="#">Terms & Conditions</a>
					</p>
					<p>
						<a href="#">Pricing Policy</a>
					</p>
				</div>
			</div>
		</div>
		<div class="row ">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="mailfooter">
					<p class="pull-left ">
						<span class="glyphicon glyphicon-envelope"></span><span>
							info@ennva.com</span>
					</p>
				</div>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 footersocial">
				<a id="linkedin" href="#"><img class="img-rounded" alt="" 
					onmouseover="this.src='{{ asset('bundles/ennvawebsite/images/social/linkedin-white.png') }}'"
					onmouseout="this.src='{{ asset('bundles/ennvawebsite/images/social/linkedin_circle.png') }}'" 
					src="{{ asset('bundles/ennvawebsite/images/social/linkedin_circle.png') }}"></a>
				<a id="facebook" href="#"><img class="img-rounded" alt="" 
					onmouseover="this.src='{{ asset('bundles/ennvawebsite/images/social/facebook-white.png') }}'"
					onmouseout="this.src='{{ asset('bundles/ennvawebsite/images/social/facebook_circle_color-128.png') }}'" 
					src="{{ asset('bundles/ennvawebsite/images/social/facebook_circle_color-128.png') }}"></a>
				<a id="twitter" href="#"><img class="img-rounded" alt="" 
					onmouseover="this.src='{{ asset('bundles/ennvawebsite/images/social/twitter-white.png') }}'"
					onmouseout="this.src='{{ asset('bundles/ennvawebsite/images/social/circle-twitter-128.png') }}'"
					src="{{ asset('bundles/ennvawebsite/images/social/circle-twitter-128.png') }}"></a>
			</div>
		</div>
	</div>
</footer class="footer-wrapper">
<footer class="copyrightfooter">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 ">
				<p>
					© 2015 <strong style="color: #0F2741">Ennva</strong> <strong style="color: #337AB7">Solution</strong>, Inc.
				</p>
			</div>
		</div>
	</div>
</footer>