<!-- NAVBAR
================================================== -->
{#% for page in pages %#}

	<div class="navbar-wrapper">
		<div class="container-fluid">
			<nav class="navbar navbar-inverse navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"> <img alt=""
							src="{{ asset('bundles/ennvawebsite/images/Logo.jpg') }}">
							<p class="img_art">Ennva Solutions</p>
						</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class=""><a href="{{ path('homepage') }}" >Home</a></li>
							<li class="dropdown"><a href="{{  path('page', { 'id':pages[0].id } ) }}" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false">About
									<span class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{  path('page', { 'id':pages[1].id } ) }}">Introduction</a></li>
									<li><a href="{{  path('page', { 'id':pages[2].id } ) }}">Brands</a></li>
									<li><a href="{{  path('page', { 'id':pages[3].id } ) }}">Certification</a></li>
									<li class="divider"></li>
									<li><a href="{{  path('page', { 'id':pages[4].id } ) }}">Jobs vacancies</a></li>
									<li><a href="{{  path('page', { 'id':pages[5].id } ) }}">More</a></li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false">Services
									<span class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{  path('page', { 'id':pages[6].id } ) }}">Tech support</a></li>
									<li><a href="{{  path('page', { 'id':pages[7].id } ) }}">E-commerce</a></li>
									<li><a href="{{  path('page', { 'id':pages[8].id } ) }}">Server @ Software</a></li>
									<li class="divider"></li>
									<li class="dropdown-submenu">
										<a tabindex="-1" href="{{  path('page', { 'id':pages[9].id } ) }}">Management software</a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu">
												<ul class="dropdown-menu">
													<li><a href="#">3rd level</a></li>
													<li><a href="#">3rd level</a></li>
												</ul></li>
											<li><a href="{{  path('page', { 'id':pages[10].id } ) }}">ERP</a></li>
											<li><a href="{{  path('page', { 'id':pages[11].id } ) }}">CRM</a></li>
											<li><a href="{{  path('page', { 'id':pages[12].id } ) }}">BUSINESS INTELIGENCE</a></li>
											<li><a href="{{  path('page', { 'id':pages[13].id } ) }}">FINANCING</a></li>
										</ul>
									</li>
								</ul></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="false">Web Services
									<span class="caret"></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{  path('page', { 'id':pages[15].id } ) }}">Web Design</a></li>
									<li><a href="{{  path('page', { 'id':pages[16].id } ) }}">Web Marketing</a></li>
									<li><a href="{{  path('page', { 'id':pages[17].id } ) }}">Web Hosting</a></li>
									<li><a href="{{  path('page', { 'id':pages[18].id } ) }}">Graphic Design</a></li>
									<li class="divider"></li>
									<li><a href="{{  path('page', { 'id':pages[19].id } ) }}">Achievements</a></li>
								</ul></li>
							<li><a href="{{  path('page', { 'id':pages[20].id } ) }}" >Highlights</a></li>
							<li><a href="{{  path('page', { 'id':pages[21].id } ) }}" >Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>
{#% endfor %#}