<div class="container-fluid skills">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="skillstitle">Our Skills in application development</div>
			<hr>
			<div class="row-fluid">
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/adobe-illustrator.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/adobe-photoshop.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/dreamweaver.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/less.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/rest.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/giticon.png') }}">
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/node.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/js.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/jquery.png') }}">
				</div>
			</div>
			<br><br><br><br>
			<div class="row-fluid">
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/j2ee.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/java.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/rails.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/ruby.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/php.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/symfony.png') }}">
				</div>
			</div>
			<br><br><br><br>
			<div class="row-fluid">	
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/apache-small.gif') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/css3.png') }}">
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/html5.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/magento.png') }}">
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/mysql.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/py.png') }}">
				</div>
			</div>	
			<br><br><br><br>	
			<div class="row-fluid">
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/oracle_clr.gif') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/sap.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/Microsoft_dynamics_logo.png') }}">
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 skill-item">
					<img style="width: 50px; height: 50px;" alt=""
						src="{{ asset('bundles/ennvawebsite/images/brand/linux.png') }}">
				</div>
			</div>	
		</div>
	</div>
</div>

